---

sudo: false

language: python

before_script:
  - pip install tox

script: tox

notifications:
  email: false

matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27
    - python: "3.4"
      env: TOXENV=py34
    - python: "3.6"
      env: TOXENV=flake8
  allow_failures:
    - python: "3.6"
      env: TOXENV=flake8
