interactions:
- request:
    body: '{"media_type": "text", "uri": "http://www.artefactual.com/wp-content/uploads/2016/04/cat.jpg",
      "information_object_slug": "test-child", "name": "kitty.jpg"}'
    headers:
      Content-type: [application/json]
      X-REST-API-KEY: [68405800c6612599]
    method: POST
    uri: http://127.0.0.1/ica-atom/index.php/api/digitalobjects
  response:
    body: {string: !!python/unicode '{"id":478,"slug":"kitty-jpg"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 201, message: Created}
version: 1
